{
    "DestinationName": "pacerMdk",
    "OfflineEnabled": true,
    "LanguageURLParam": "",
    "OnlineOptions": {},
    "PathSuffix": "",
    "SourceType": "Mobile",
    "ServiceUrl":""
}